# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Environment variables
.env

# VSCode config files
.vscode/

# macOS / Windows system files
.DS_Store
Thumbs.db

# Logs
*.log

# Pytest cache
.pytest_cache/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/
